/* Fondo general de la página */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    color: #333;
}

/* Navbar */
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ff914d;
}

.navbar-toggler-icon{
    filter: invert(1);
}

/* Hero */
.hero {
    background-image: url(fideos\ portada.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

/* Cartas de producto */
.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.card-img-top {
    height: 400px;
    object-fit: cover;
    width: 100%;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

/* Botón principal */
.btn-primary {
    background-color: #ff914d;
    border-color: #ff914d;
}

.btn-primary:hover {
    background-color: #ff6b00;
    border-color: #ff6b00;
}

/* Logo */
.logo-fideos{
    max-width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
@media (max-width: 576px) {
    .logo-fideos {
        max-width: 120px;
    }
}

/* submenu */
.dropdown-submenu{
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 100%;
    left: 0;
    margin: top 0;
}





